<!DOCTYPE HTML>
<html manifest="~/Sencha/cache.appcache" lang="en-US">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<base href="~/Sencha/" />
	<title>@ViewBag.Title</title>
	<!-- The line below must be kept intact for Sencha Command to build your application -->
	<script id="microloader" data-app="5a9326af-b543-4127-b95a-1ea21394d5bf" src="microloader.js"></script>
</head>
<body>
	@RenderBody()
</body>
</html>